.hero {
  &-container {
    max-width: 1200px;
    margin: 0 auto;

    .hero-list {
      &-logo {
        img {
          width: 400px;
          height: auto;
        }
      }

      .hero-list-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        list-style: none;
        padding: 0 25px 50px;

        @media (max-width: 1024px) {
          grid-template-columns: repeat(4, 1fr);
          padding: 0 15px;
        }

        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          padding: 0 10px;
        }
      }
    }
  }
}
